* { 
    box-sizing: border-box; 
}

body{
    margin: 0px;
}

/* Header */ 
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: pink;
    position: fixed;
    top:0;
    width: 100%;
}

li {
    display: inline;
}

#homeBackground{
    background: url('./images/icecream.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}


